* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;

  font-family: 'Lato', sans-serif;

  user-select: none;
  list-style: none;
}

input,
select{
  padding: 5px 10px;
  background: lightblue;
  border-radius: 10px;

  color: grey;
}

form{
  margin: 10px 25px;
}

.mycontainer {

  width: 100vw;
  height: auto;

  padding: 50px 25px;

  overflow: hidden;
}

.row{
  display: block;
  width: 100%;
  height: auto;
}

.row::after{
  display: table;;
  content: "";
  clear: both;
}
canvas{
  /* padding: 50px; */
  display: block;
}

.canvas_right,
.canvas_left{
  width: 50%;
  height: auto;
}

.canvas_left{
  float: left;
}

.canvas_right{
  float: right;
}

#myChart{
  width: 80%;
  height: 80%;
}

#myChartBar{
  width: 300px;
  height: 300px;
}
